* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
}

h1 {
    font: 'Montserrat', sans-serif;
}

nav {
    background: #192841;
    padding: 5px 20px;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: #192841;
}

header,main {
    DISPLAY: FLEX;
    FLEX-DIRECTION: column;
    JUSTIFY-CONTENT: CENTER;
    ALIGN-ITEMS: center;
    padding: 1rem;


}

.insight {
 width: 55%;
 height: 55vh;
 

}

.insight-img{
 width: 100%;
 height: 100%;

}

ul{
list-style: none;
margin-top: 1rem;
}

#weather{
margin-top: 1rem;


}

li{
 border: 1px solid black;
 padding: 15px;
 margin-bottom: 10px;
 


}

footer {
    DISPLAY: FLEX;
    FLEX-DIRECTION: column;
    JUSTIFY-CONTENT: CENTER;
    ALIGN-ITEMS: center;
  
    margin: 30px;


}

