* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font: 'Montserrat', sans-serif;

}

nav {
    background: #192841;
    padding: 5px 20px;

}

nav {
    list-style-type: none;


}

a {
    color: white;
    text-decoration: none;


}


a:hover {
    text-decoration: underline;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: #192841;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

}

li {
    border: 1px solid gray;
    margin: 0.5em;
    padding: 0.5em;



}

body {
    background-color: whitesmoke;


    
}

title {
 margin-top: 0;
 font-weight: 600;
}

main {
 
 align-items: center;
 justify-content: center;

}